#exchange-button button {
    width: 90%;
    height: 90%;
    align-self: start;
    justify-self: end;
    padding: 0;
    border-width: 0;
    background-color: #11b3fe;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    transition-duration: 0.4s;
}

#exchange-button button:hover {
    background-color: #0095e0;
    cursor: pointer;
}