.dd-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
     background-color: #f6f7f8;
    border-radius: 5px;
    border: 2px solid #ebeff2;
    width: 100%;
    align-items: start;
}

.dd-header {
    display: grid;
    grid-template-columns: auto max-content;
    max-width: inherit;
    min-width: 0;
    height: 100%;
    grid-column: 1;
    grid-row: 1;
}

.currency-amount {
    border: 0;
    border-right: 2px solid #ebeff2;
    height: 85%;
    align-self: center;
    border-radius: 0;
    background-color: #f6f7f8;
    margin-left: 20px;
    max-width: inherit;
    min-width: 0;
}

.currency-div {
    align-self: center;
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    height: 100%;
    padding-left: 3%;
    padding-right: 5%;
}

#arrow-icon {
    align-self: center;
    justify-self: center;
    grid-column: 4/5;
}

#currency-ticker {
    align-self: center;
    justify-self: center;
    grid-column: 2/4;
}

.dd {
    align-self: start;
    background-color: #f6f7f8;
    width: calc(100% + 4px);
    z-index: 1;
    border-radius: 5px;
    border: 2px solid #ebeff2;
    justify-self: center;
    border-top: 0;
    grid-column: 1;
    grid-row: 1;
}

#currency-search-input {
    grid-column: 1/11;
}

.dd-list {
    align-self: start;
    overflow-y: scroll;
    max-height: 250px;
}

.full-currency-name {
    color: #9db7c7;
    justify-self: start;
}

.button-item-content {
    align-self: center;
    justify-self: start;
}

.button-list-item {
    display: grid;
    grid-template-columns: 1fr 3fr 5fr;
}

.cancel-button {
    grid-column: 12;
    justify-self: end;
    align-self: center;
    padding-right: 5%;
}

.dd input {
    width: 85%;
    padding-left: 20px;
    border: 0;
}

#search-div {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    height: 40px;
}
